html{
    margin: 0px;
    padding: 0px;
    background-color: #F2F4FC;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*navbar*/


#header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F4FC;
    z-index: 2;
}
#header img{
    width: 3rem;
    padding-left:1rem;
}
.nav{
    display: flex;
    font-size: 1.55rem;
    cursor:pointer;
    color: #292E47;
    padding: 1rem;
   
}
.desktopNav{
    display: none;
}
.hidden{
    display:none;
}
.imgs-container{
    display: none;
}
.navUl{
    list-style: none;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 1;
    background-color: #292E47;
    width: 100%;
    height: 80vh;
}
.menuElement{
    height: 25%;
    font-weight: 700;
    border-bottom: 1px dotted #A2D6F9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuElement a{
    text-decoration: none;
    color:#A2D6F9;
    
}
.menuElement a:hover{
    color:#FFC600;
    transform: scale(1.1);
}



/*contact*/
#contact{
    position: relative;
    top: 2.7rem;
    display: flex;
    flex-direction: column;
    margin: 2.7rem 1.2rem;

}

#contact h1{
    color:#292E47;
    text-transform: capitalize;
    
}

#contact form{
    font-size: 0.65rem;
    color: #6B708D;
    display: flex;
    flex-direction: column;
    
    
}
#contact form input, #contact form textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 0.65rem;
    width: 100%;
    border: none;
    color: #6B708D;
    background: rgba(107, 112, 141, 0.1);
    margin-bottom: 1rem;
    padding: 0.525rem 0.2rem;
}
.row-inputs-container{
    display: flex;
    flex-direction: column;
}
.label{
    padding-bottom: 0.4rem;
}
#contact form textarea {
    resize: none;
    height: 30vh;
}
#contact form button{
    font-size: 0.65rem;
    width: 50%;
    align-self: center;
    color:  #F2F4FC;
    background-color: #072AC8;
    border: none;
    padding: 0.5rem 1rem;
}


/*footer*/
#footer{
    position: relative;
    top: 50px;
    width: 90%;
    margin: 0 auto;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content p{
    color:#6B708D;
    font-size: 0.4rem;
}

.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.7rem;
    
}
.links a{
    color:#6B708D;
    font-size: 0.5rem;
    text-decoration: none;
}


/*mediaqueries*/

@media all and (min-width: 421px){
    #contact form{
        margin: 0 4rem;
    }
    #contact h1{
        margin: 2rem 4rem;
    }
}

@media all and (min-width: 1250px){
    #contact{
        margin: 0 6rem;
    }

   


    /*header*/
   #header{
    justify-content: space-between;
    height: 13%;
}
#header img{
    width: 4rem;
    padding-left: 5rem;
}
.fa-solid.fa-bars{
    display: none;
}
.desktopNav{
    display: flex;
    gap: 3rem;
    font-size: 1.063rem;
    font-weight: 500;
    
}
.desktopNav >li{
    list-style: none;
   
    
}
.desktopNav li a{
    text-decoration: none;
    transition: 0.3s;
}
.desktopNav li a:hover{
    color:#072AC8;
    font-size: 1.3rem;
}


.btn{
    background-color: #072AC8;
    color: #F2F4FC;
    text-decoration: none;
    margin-right: 5rem;
    padding: 0.7rem 1.2rem;
    transition: 0.3s;
}
.btn:hover{
    background-color: #F2F4FC;
    color: #072AC8;
    border: 1px dotted #072AC8;
}

main{
    margin: 0 3rem;
}

    /*contact form*/

    #contact h1{
        margin-top: 130px;
        font-size: 3.75rem;
        font-weight: 700;
    }
    #contact form{
        margin: 30px 0 0 0;
      
    }
    #contact form input{
        height: 4rem;
        font-size: 1.25rem;
    }
    .label{
        font-size: 1.25rem;
    }
    #contact form textarea{
        font-size: 1.25rem;
    }
    .row-inputs-container{
        flex-direction: row;
        justify-content: space-between;
        
    }
   .row-inputs-container div{
     width: 48%;
   }
   #contact form button{
    margin-top: 2rem;
    height: 4.375rem;
    font-size: 1.063rem;
    transition: 0.3s;
    cursor: pointer;
   }
   
   #contact form button:hover{
    background-color: #F2F4FC;
    color: #072AC8;
    border: 1px dotted #072AC8;
    font-weight: bold;
   }

   .form-message{
    font-size: 3rem;
   }

   /*footer*/

   #footer{
    margin-top: 90px;
   }
   
    .content img{
        width: 6.149rem;
    }
   .content p{
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 150%;
   }

   .links a{
    font-size: 1.063rem;
   }
   .links{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-template-rows: 1fr 1fr;
   }

}

