html{
    margin: 0px;
    padding: 0px;
    background-color: #F2F4FC;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*navbar*/

#header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    background-color: #F2F4FC;
    z-index: 2;
}
#header img{
    width: 3rem;
    padding: 1rem;
}
.nav{
    display: flex;
    font-size: 1.55rem;
    cursor:pointer;
    color: #292E47;
    padding: 1rem;
   
}
.hidden{
    display:none;
}

/*contact*/
#contact{
    position: relative;
    top: 2.7rem;
    display: flex;
    flex-direction: column;
    margin: 2.7rem 1.2rem;

}

#contact h1{
    color:#292E47;
    
}

#contact form{
    font-size: 0.65rem;
    color: #6B708D;
    display: flex;
    flex-direction: column;
    
    
}
#contact form input, #contact form textarea {
    font-size: 0.65rem;
    width: 100%;
    border: none;
    color: #6B708D;
    background-color: #6b708d42;
    margin-bottom: 1rem;
    padding: 0.525rem 0.2rem;
}
.row-inputs-container{
    display: flex;
    flex-direction: column;
}
.label{
    padding-bottom: 0.4rem;
}
#contact form textarea {
    resize: none;
    height: 30vh;
}
#contact form button{
    font-size: 0.65rem;
    width: 50%;
    align-self: center;
    color:  #F2F4FC;
    background-color: #072AC8;
    border: none;
    padding: 0.5rem 1rem;
}


/*footer*/
#footer{
    position: relative;
    top: 50px;
    width: 90%;
    margin: 0 auto;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content p{
    color:#6B708D;
    font-size: 0.4rem;
}

.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.7rem;
    
}
.links a{
    color:#6B708D;
    font-size: 0.5rem;
    text-decoration: none;
}

