html{
    margin: 0px;
    padding: 0px;
    background-color: #F2F4FC;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 150px;
    padding: 20px;
    background-color: #F2F4FC;
    z-index: 1;
}
.nav{
    display: flex;
    font-size: 1.55em;
    cursor:pointer;
   
}
.hidden{
    display:none;
}

#hero{
    position:relative;
    top: 70px;
}