html{
    margin: 0px;
    padding: 0px;
    background-color: #F2F4FC;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*navbar*/

#header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F4FC;
    z-index: 2;
}
#header img{
    width: 3rem;
    padding-left:1rem;
}
.nav{
    display: flex;
    font-size: 1.55rem;
    cursor:pointer;
    color: #292E47;
    padding: 1rem;
   
}
.desktopNav{
    display: none;
}
.hidden{
    display:none;
}
.imgs-container{
    display: none;
}
.navUl{
    list-style: none;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 1;
    background-color: #292E47;
    width: 100%;
    height: 80vh;
}
.menuElement{
    height: 25%;
    font-weight: 700;
    border-bottom: 1px dotted #A2D6F9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuElement a{
    text-decoration: none;
    color:#A2D6F9;
    
}
.menuElement a:hover{
    color:#FFC600;
    transform: scale(1.1);
}


/*hero*/
#hero{
    position:relative;
    top: 130px;
}
.hero-container{
    margin: 20px 30px;
}
.hero-text h1{
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #292E47;
    text-align: center;
    font-weight: 600;
}

.hero-text p{
    font-size: 0.65rem;
    text-align: center;
    font-weight: 400;
    color:#6B708D;
    margin: 1.5rem 1.4rem 2rem 1.4rem;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}
.hero-buttons a{
    font-size: 0.65rem;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    width: 100px;
    padding: 12px 3px;
}
.blue-btn{
    background-color: #072AC8;
    font-weight: bold;
    color: #F2F4FC
}
.imgs-div{
    display:none;
}

/*clients*/
#clients{
    position:relative;
    top: 180px;

}
#clients div{
    display: flex;
    justify-content: space-around;
}
.clients-logo{
    width: 2rem;
}


/*projects*/
#projects{
    position: relative;
    top: 200px;
    
}

.projects-container{
    margin: 20px 20px;
}
.projects-container h2{
    text-align: center;
    color: #292E47;
    margin-bottom: 3rem;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.single-project{
    height: 30%;
    width: 74%;
    margin: 0px;
    background-color: white;
    padding-bottom: 20px;;
    align-self: center;
    box-shadow: 0px 10px 50px rgb(0, 0, 0, .25);
   
}
.single-project:hover{
    background-color: antiquewhite;
}
.single-project > img{
    width: 100%;
    height: 50%;
    margin: 0px;
    
}
.single-project > h4{
    
    margin: 0px;
    padding: 5px 0px 10px 15px;
    color:#292E47;
    font-size: 1.2rem;
    
    
}
.single-project p{
    
    margin-top: 0px;
    padding: 50px 0px 10px 10px;
    font-size: 0.9rem;
    color: #292E47;
    font-weight: 400;
}
.single-project a{
    
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 0px 20px 10px;
    text-decoration: none;
    color: #072AC8;
    font-size: 0.938rem;
    cursor: pointer;
    
}

/*testimonials*/

#testimonials{
    position: relative;
    top: 240px;
    background-color: #292E47;
    background-image: url("../images/orbit.png");
    background-position: 0 0;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0 1rem;
}
.testimonials-icons-1{
    
    padding: 1.25rem 0.5rem 0 0.5rem;
    display: flex;
    justify-content: space-between;
   

}
.emoji-1, .emoji-2{
    width:3.125rem;
    
}

.emoji-3, .emoji-4{
    width:3.125rem;
}
.testimonials-icons-2{
    
    padding: 0 0.5rem 1.25rem 0.5rem;
    display: flex;
    justify-content: space-between;
   
}
.testimonials-text h2{
    color:#F2F4FC;
    text-align: center;
}
.testimonials-text p{
    font-size: 0.55rem;
    color: #FFC600;
    text-align: center;
    margin: 1.875rem;
}
.testimonials-client{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.testimonials-client img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.testimonials-phrase{
    line-height: 0.4rem;
}
.testimonials-phrase p{
    margin: 0px;
    color: #A2D6F9;
}

.testimonials-phrase span{
    margin: 0px;
    color: #F2F4FC;
    font-size: 0.5rem;
}

/*services*/

#services{
    position:relative;
    top: 280px;
    
}

#services h2{
    text-align: center;
    color: #292E47;

}
.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
    
}
.services-container article{
    background-color: white;
    width: 78%;
    padding-bottom: 20px;
    box-shadow: 0px 10px 50px rgb(0, 0, 0, .25);
}
.services-container article div{
    
    width:2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #ECF7FF;
    padding: 10px;
    margin: 30px 0px 10px 10px;
    
}
.services-container article div img{
    
    width: 100%;
    
   
}
.services-container article h4{
    color:#292E47;
    
    text-align: center;
}
.services-container article p{
    color: #6B708D;
    text-align: center;
    font-size: 0.7rem;
    margin: 0 1.875rem 3rem;
    line-height: 1rem;
}
.services-container article a{
    color: #072AC8;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}


/*cta*/
#cta{
    position: relative;
    top: 18.5rem;
    margin: 0 1rem;
    background-color: #FFC600;
    
}

#cta h2, #cta p{
    color:#292E47;
    padding: 15px;
    text-align: center;
}
#cta form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.65rem;
   position: relative;
}

#cta form input{
    font-size: 0.5rem;
    padding: 14px 0px 14px 50px;
    border: none;
    position: relative;
    outline: none;
}
#cta form button{
    font-size: 0.5rem;
    padding: 14px 58px;
    border: none;
    background-color:  #072AC8;
    color: #F2F4FC;
    margin-bottom: 1rem;
}

.envelope i{
    position: absolute;
    margin-left: 12px;
    z-index: 1;
    top: 9px;

}



/*footer*/
#footer{
    position: relative;
    top: 340px;
    width: 80%;
    margin: 0 auto;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content p{
    color:#6B708D;
    font-size: 0.4rem;
}

.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.2rem;
    
}
.links a{
    color:#6B708D;
    font-size: 0.4rem;
    text-decoration: none;
}


/*media-queries tablet: from 421 to 899px*/

@media all and (min-width: 421px) {

    /*hero*/
    #hero div{
        display: flex;
    }
    .hero-text{
        width: 49%;
    }
   .imgs-div{
    display: flex;
    width: 49%;
    top: 0;
    right: 0rem;
    position: relative;
   }
   .imgs-container{
    top: 0;
    right: -6rem;
    position: relative;
   }
   .card-1{
    position: absolute;
    width: 8rem;
    right: -5.5rem;
    top: -1rem;
    z-index: 1;
   }
   .card-2{
    position: absolute;
    width: 7rem;
    right: -14rem;
    top: 10rem;
    z-index: 1;
   }
   .client{
    position: absolute;
    width: 13rem;
    right: -12rem;
   }

   /*clients*/

   #clients{
    top: 190px;
   }

   /*projects*/

   #projects{
    top: 250px;
   }
   .box{
    margin-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
   }
   .single-project{
    width: 40%;
    margin: 0 auto;
   }
   .down{
    margin: 0 auto;
   }
  



   /*testimonials*/
   #testimonials{
    top: 300px;
   }

   /*services*/
   #services{
    top: 350px;
   }
   .services-container{
    flex-direction: row;
    flex-wrap: wrap;
   }
   .services-container article{
    width: 40%;
   }

   /*cta*/
   #cta{
    top:400px;
   }
   
   /*footer*/
   #footer{
    top:450px;
   }
}

@media all and (min-width: 1250px){

    /*header*/
    #header{
        justify-content: space-between;
        height: 13%;
    }
    #header img{
        width: 4rem;
        padding-left: 5rem;
    }
    .fa-solid.fa-bars{
        display: none;
    }
    .desktopNav{
        display: flex;
        gap: 3rem;
        font-size: 1.063rem;
        font-weight: 500;
        
    }
    .desktopNav >li{
        list-style: none;
        transition: 0.3s;
        
    }
    .desktopNav li a{
        text-decoration: none;
    }
    .desktopNav li:hover{
        color:#072AC8;
        font-size: 1.3rem;
    }
    
  
    .btn{
        background-color: #072AC8;
        color: #F2F4FC;
        text-decoration: none;
        margin-right: 5rem;
        padding: 0.7rem 1.2rem;
        transition: 0.3s;
    }
    .btn:hover{
        background-color: #F2F4FC;
        color: #072AC8;
        border: 1px dotted #072AC8;
    }

    main{
        margin: 0 3rem;
    }

    /*hero*/
    #hero{
        top: 195px;
        margin: 3rem;
        
    }
    .hero-text{
        width: 45%;
        margin: 0 100px;
    }
    .hero-text h1{
        text-align: left;
        font-size: 60px;
        margin-bottom: 2rem;
    }
    .hero-text p{
        text-align: left;
        font-size: 17px;
        margin-bottom: 2rem;
        margin-left:0;
    }
    .hero-buttons{
        justify-content: left;
    }
    .hero-buttons >a{
        
        font-size: 17px;
        padding: 1rem 1.2rem;
    }
    .link-work{
        transition:0.3s;
        cursor: pointer;
    }
    .link-work:hover{
        color: #072AC8;
        font-weight: bolder;
    }
    .blue-btn{
        transition: 0.3s;
    }
    .blue-btn:hover{
        background-color: #F2F4FC;
        color: #072AC8;
        border: 1px dotted #072AC8;
    }

    .imgs-div{
        width: 55%;
        
    }

    .imgs-container{
        top: 0;
        right: 0rem;
        position: relative;
        
       }
       .card-1{
        position: absolute;
        width: 17rem;
        right: -12rem;
        top: 0rem;
        z-index: 1;
       }
       .card-2{
        position: absolute;
        width: 16rem;
        right: -33rem;
        top: 24rem;
        z-index: 1;
       }
       .client{
        position: absolute;
        width: 30.5rem;
        right: -28rem;
        top: 0rem;
       }

    
    /*projects*/

    .box{
        gap: 110px;
    }
    .single-project h4{
        font-size: 1.438rem;
    }
    .single-project p{
        font-size: 1.063rem;
    }
    .single-project a{
        font-size: 1.063rem;
    }

    /*clients*/
    #clients{
        top: 450px;
       
    }

    #clients div{
        margin: 0 1rem;
        
    }
    #clients div img{
        width: 5rem;
        filter: grayscale(1);
        
    }
    /*projects*/
    #projects{
        top: 600px;
        
    }

    .projects-container h2{
        text-align: left;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 4rem;

    }

    .projects-container h2, .projects-container p, .projects-container a{
        padding-left: 1rem;
    } 
    .box{
        flex-wrap: nowrap;
        
    }
    .down{
        align-self: flex-start;
    }

    

    /*testimonials*/

    #testimonials{
        top: 800px;
        margin: 0 1.5rem;
        
    }

    .testimonials-text h2{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .emoji-1, .emoji-2, .emoji-3, .emoji-4{
        width: 9.375rem;
    }

    .testimonials-text p{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .testimonials-client img{
        width: 3.125rem;
        height: 3.125rem;
    }

    
    .testimonials-phrase p{
        font-size: 1.063rem;
        line-height: 1.063rem;
    }

    .testimonials-phrase span{
        font-size: 0.813rem;
    }
    



    /*services*/
    #services{
        top: 1000px;
    }

    #services h2{
        font-size: 2.5rem;
        text-align: left;
    }
    .services-container{
        flex-wrap: nowrap;
    }

    .services-container article{
     height: 24rem;
     padding: 1rem;
     display: flex;
     flex-direction: column;

    }

    .services-container article div{
        width: 4rem;
        height: 4rem;
    }
    .services-container article h4{
        font-size: 1.5rem;
        font-weight: 500;
        text-align: left;
        margin: 10px 0 0 0;
    }
    .services-container article p{
        margin: 20px 0 0 0;
        font-size: 1.25rem;
        text-align: left;
        line-height: 150%;
    }

    .services-container article a{
        margin: 60px 0 0 0;
        font-size: 1.063rem;
        text-align: left;
        padding: 0;
        
    }
    
    /*cta*/
    
    
    
   
    #cta{
        top: 1200px;
    }

    #cta h2{
        padding-top: 5rem;
        padding-bottom: 0;
        font-size: 2.5rem;
        font-weight: 700;
    }
    #cta p{
        font-size: 1.25rem;
        padding-top: 0;
    }
    #cta form{
        padding-top: 1rem;
        flex-direction: row;
        padding-bottom: 8rem;
        
        gap: 0.625rem;
    }

   #cta form input{
    font-size: 1.063rem;
    
}

    #cta form button{
        margin: 0;
        font-size: 1.063rem;
        cursor: pointer;
        transition: 0.3s;
    }
    #cta form button:hover{
        font-size: 1.5rem;
        font-weight: bold;
    }

    
    .envelope i{
       
        top: 30px;
        z-index: 1;
        margin-left: 12px;
       
    }
    .fa-envelope{
        width: 1.5rem;
    }
    

    /*footer*/
    #footer{
        top: 1400px;
    }
    .content img{
        width: 6.149rem;
    }
   .content p{
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 150%;
   }

   .links a{
    font-size: 1.063rem;
   }
   .links{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-template-rows: 1fr 1fr;
   }

}
