html{
    margin: 0px;
    padding: 0px;
    background-color: #F2F4FC;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*header*/

#header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    background-color: #F2F4FC;
    z-index: 2;
}
#header img{
    width: 3rem;
    padding: 1rem;
}
.nav{
    display: flex;
    font-size: 1.55rem;
    cursor:pointer;
    color: #292E47;
    padding: 1rem;
   
}
.hidden{
    display:none;
}

/*project*/
#project {
    position: relative;
    top: 2rem;
    margin: 2.7rem 1.2rem;
}

#project h1{
    color:#292E47;
    text-align: center;
    margin-bottom: 1.7rem;
}
.details h2, .details p{
    color:#6B708D;
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
}


.colour{
    color:#292E47;
}

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.project-container img{
    width: 90%;
    align-self: center;
}
.project-container p{
    width: 90%;
    align-self: center;
    color:#6B708D;
    font-size: 0.75rem;
    text-align: left;
    line-height: 1rem;
}




/*footer*/
#footer{
    position: relative;
    top: 300px;
    width: 80%;
    margin: 0 auto;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content p{
    color:#6B708D;
    font-size: 0.6rem;
}

.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    
}
.links a{
    color:#6B708D;
    font-size: 0.6rem;
    text-decoration: none;
}